<div id="<%= dom_id customer %>"
     style="background-color:#ffffff;
            padding:15px;
            border-radius:8px;
            box-shadow:0 2px 6px rgba(0,0,0,0.1);
            margin-bottom:10px;">

  <div style="margin-bottom:6px;">
    <strong>Name:</strong>
    <%= customer.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= customer.email %>
  </div>

  <div>
    <strong> dob: </strong>
    <%= customer.dob %>
  </div>

   <div>
    <strong>AboutMe:</strong>
    <%= @customer&.about_me || "-" %>
  </div>

</div>



