<div id="<%= dom_id product1 %>">
  <div>
    <strong>Name:</strong>
    <%= product1.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= product1.description %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= product1.price %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= product1.stock %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= product1.stock %>
  </div>

</div>
